* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-bg: #fff;
    --primary-text: #111;
}

body {
    color: var(--primary-text);
    background-color: var(--primary-bg);
}

button {
    padding: 10px;
}

#app,
#practice {
    padding: 20px;
}

#app .app-items {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

div.parent {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
}

div.child {
    border: 1px solid red;
    margin: 10px;
    padding: 5px;
    width: 80px;
    height: 60px;
    box-sizing: border-box;
}

.menu {
    border: 1px solid black;
    padding: 40px;
    margin: 10px 0;
}

.close {
    display: none;
}
