* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-bg: #fff;
    --primary-text: #111;
}

body {
    color: var(--primary-text);
    background-color: var(--primary-bg);
}

button {
    padding: 10px;
}

#app {
    padding: 20px;
}

#app .app-items {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
